
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css or your main CSS file */
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400; /* Change as needed */
  font-style: normal; /* Change as needed */
}


@keyframes scroll {
  0% {
    transform: translate3d(0, 100vh, 0);
  }
  100% {
    transform: translate3d(0, -100vh, 0);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translate3d(0, -100vh, 0);
  }
  100% {
    transform: translate3d(0, 100vh, 0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-100vh); /* Use % instead of vw for more consistent behavior */
  }
  100% {
    transform: translateX(0%); /* Use % instead of vw for more consistent behavior */
  }
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(0vh); /* Use % instead of vw for more consistent behavior */
  }
  100% {
    transform: translateX(-100vh); /* Use % instead of vw for more consistent behavior */
  }
}

.animate-scroll-left-to-right {
  animation: scroll-left-to-right 20s linear infinite; /* Adjust duration if necessary */
}

.animate-scroll-right-to-left {
  animation: scroll-right-to-left 20s linear infinite; /* Adjust duration if necessary */
}
a {
  position: relative;
}

a::after {
  content: '';
  display: block;
  height: 1px; /* Adjust the height as needed */
  background: black; /* Change to desired color */
  width: 0;
  transition: width 0.3s ease-in; /* Animation speed */
  position: absolute; 
  left: 50%;
  bottom: -1px; /* Adjust spacing from text */
  transform: translateX(-50%);
}

a:hover::after {
  width: 40%; /* Full width on hover */
}
.transition-height {
  transition-property: height;
}
